<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Blaz Merela</string>
	<key>Builder Version</key>
	<string>10600.6.3</string>
	<key>CFBundleDisplayName</key>
	<string>KeyTabs</string>
	<key>CFBundleIdentifier</key>
	<string>org.merela.keytabs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>keyShortcutHandler.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Close left or right tabs with a keyboard shortcut.</string>
	<key>DeveloperIdentifier</key>
	<string>89U7D39585</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/b1az/KeyTabs/KeyTabs.safariextz/Update.plist</string>
	<key>Website</key>
	<string>http://merela.org</string>
</dict>
</plist>
